<button  type="button" class="btn btn-success startbtn">开始</button>
<button type="button" class="btn btn-primary previousbtn" style="display:none">上一步</button>
<button type="button" class="btn btn-primary nextbtn" style="display:none">下一步</button>
<button  type="button" class="btn btn-success endbtn" style="display:none">完结</button>
