<div class="leftbuttons">
    <button type="button" class="btn btn-danger cancelbtn">
        &lt; 取消&nbsp;
    </button>
</div>
<div class="rightbuttons">
    <button type="button" class="btn btn-success startbtn" style="display:none"> &nbsp;开始 &gt;</button>
        <button type="button" class="btn btn-primary previousbtn" style="display:none">
            &lt; 上一步&nbsp;
        </button>
        <button type="button" class="btn btn-primary nextbtn" style="display:none"> &nbsp;下一步 &gt;</button>&nbsp;&nbsp;
        <button type="button" class="btn btn-success endbtn" style="display:none"> &nbsp;完结 &gt;</button>
</div>
